body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #111;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 30px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    transition: all 0.3s;
    padding-right: 10px;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #666;
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav li.active a::after {
    background-color: #fff; 
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;


}

.redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s;
}

.redes-sociales a:hover {
    color: pink;
}

main{
    margin-top: 200px;
    margin-bottom: 92px;
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


.contact_form{	
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: white; 
  padding-left: 30px; 
  margin-top: -130px;
}

input{
	background-color: white; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #666; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px;

}


textarea{
  background-color: white; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #666; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #666; 
	border-color: #666; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
    cursor: pointer;
}


button p{
	color: #fff; 
}


span{
	color: black; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


h1{
	font-size: 39px;  
	text-align: center; 
	padding-bottom: 20px;
	color: black;
    margin-left: -27px;
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
    margin-left: -10px;
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


